.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 16px 120px 26px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-blend-mode: multiply;
    backdrop-filter: blur(20px);
}

.header .name, .header .menu, .header .logout{
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    gap: 6px;
    cursor: pointer;
}

.name .logo{
    width: 36px;
    height: 36px;
    padding: 15px 16px;
    border-radius: 30px;
    background: #F6F6F6;
}

.name .id{
    display: flex;
    height: 36px;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    background: #F6F6F6;
    font-size: 14px;
    font-weight: 500;
}

.menu .menu-option,.logout .menu-option{
    display: flex;
    height: 36px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #808080;
}

.menu .menu-option.active{
    color: #FFF;
    font-weight: 600;
    border-radius: 30px;
    background: #1A1A1A;
}

.menu-option.logout{
    border-radius: 30px;
    color: #1A1A1A;
    font-weight: 600;
    background: #F6F6F6;
    border: none;
}